<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Theme Preview </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Meduim Toggle</ion-label>
      <ion-toggle color="primary" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Disabled Toggle</ion-label>
      <ion-toggle disabled="true" color="primary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Danger Toggle</ion-label>
      <ion-toggle color="danger" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Success Toggle</ion-label>
      <ion-toggle checked color="success"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <ion-button color="primary" size="large">AA</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="secondary" size="large">AA</ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-button color="Tertiary" size="large">AA</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center second-buttons">
      <ion-col>
        <div>
          <ion-button color="success" fill="clear">Success</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="warning" fill="clear">Warning</ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-button color="danger" fill="clear">Danger</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-icon name="star" color="primary" size="large"></ion-icon>
      <ion-text class="ion-margin"> Star </ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="planet" color="secondary" size="large"></ion-icon>
      <ion-text class="ion-margin"> Planet </ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="sunny" color="Tertiary" size="large"></ion-icon>
      <ion-text class="ion-margin"> Sun </ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="moon" color="warning" size="large"></ion-icon>
      <ion-text class="ion-margin"> Moon </ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="rocket" color="danger" size="large"></ion-icon>
      <ion-text class="ion-margin"> Rocket </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
