<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColor">
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="contentColor">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" color="medium" (click)="changeTheme('autumn')"
    >Autumn</ion-button
  >
  <ion-button expand="block" color="medium" (click)="changeTheme('night')"
    >Dark</ion-button
  >
  <ion-button expand="block" color="medium" (click)="changeTheme('neon')"
    >Neon</ion-button
  >
  <ion-button expand="block" color="medium" (click)="changeTheme('')"
    >Default</ion-button
  >
</ion-content>
